<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
			
	<head>
		<title> Accueil </title>
		{% include 'BaquarasTestBundle:Default:css.html.twig' %} 
	</head>
    
	<body>
		
		{% include 'BaquarasTestBundle:Default:menu.html.twig' %} 
		{% include 'BaquarasTestBundle:Default:jquery2.html.twig' %} 
			
		<div id="page">
			
			<h1> Accueil </h1>
		
			<div id="content"> 
				<div id="logo_accueil"> </div>
				<div id="msg_accueil"> 
					L'application BAQUARAS vous permet de consulter des informations sur les applications qualifiées et installables sur les postes bureautiques de l'entreprise. <br/>
					
				</div>
			</div>


		
		</div>
		
    </body>
</html>