<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title> Liste des utilisateurs </title>
        {% include 'BaquarasTestBundle:Default:css.html.twig' %}
    </head>

    <body>

        {% include 'BaquarasTestBundle:Default:menu.html.twig' %} 
        {% include 'BaquarasTestBundle:Default:jquery2.html.twig' %} 

        <div id="page">
            <h1> Liste des utilisateurs </h1>
               <div class="sortlist">
                    <ul id="usersfilter">
                        <li><a id="8" href="#" data-filter="admin" >Administrateur</a></li>
                        <li><a id="7" href="#" data-filter="admin" >Responsable qualification</a></li>
                        <li><a id="5" href="#" data-filter="Chef de produit" title="Chef de produit">Chef Produit</a></li>
                        <li><a id="6" href="#" title="" data-filter="Qualificateur">Qualificateur</a></li>
                        <li><a id="4" href="#" data-filter="admin" >Intégrateur</a></li>
                        <li><a id="3" href="#" data-filter="Chef de produit" title="Chef de produit">Technicien support</a></li>
                        <li><a id="2" href="#" title="" data-filter="Qualificateur">Lecteur avancé</a></li>
                        <li><a id="1" href="#" title="" data-filter="Qualificateur">Utilisateur non connecté</a></li>
                    </ul>
                </div>
            <div id="listerUsers">
                {### Zone d'affichage des messages/annotations ###}
                <div id="flashbag"> 
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div id="img"> </div>
                        <div id="texte"> {{ flashMessage }} </div> <br/>
                    {% endfor %}
                </div>
                <div id="tableauUsers">
                    {% include 'BaquarasTestBundle:Default:listuser.html.twig' with {'utilisateurs': utilisateurs, 'pager': pager} %}
                </div>

            </div>
        </div>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript">
        $( "#usersfilter a" ).on( "click", function( event ) {
            var elem = $(this);
            $.ajax({
                type: "POST",
                url: Routing.generate('listerUsers', {sort: elem.attr('id')}),
                dataType: "html",
                success: function(data){
                    $('#tableauUsers').html(data);
                }
            });
        });
    </script>
    </body>
</html>