{% extends "::base.html.twig" %}

{% block titreFenetre %}
    Admin Page
{% endblock %}

{% block titre %}
    <h1>Admin Page</h1>
{% endblock %}

{% block body %}
    <p>Yep t'es trop fort !</p>
{% endblock %}