{% extends "::base.html.twig" %}

{% block titreFenetre %}
    Anonymous Page
{% endblock %}

{% block titre %}
    <h1>Anonymous Page</h1>
{% endblock %}

{% block body %}
    <p>Avoue, tu a voulu voir les autres pages ^^</p>
{% endblock %}