{% extends "::base.html.twig" %}

{% block titreFenetre %}
    User Page
{% endblock %}

{% block titre %}
    <h1>User Page</h1>
{% endblock %}

{% block body %}
    <p>Désespères pas, t'es pas si nul.</p>
{% endblock %}